// These colors are specific to the theme. Do not use in a package!

@very-light-gray: #c5c8c6;
@gray: #969896;
@light-gray: @gray;
@light-neon-blue: #91EDEA;
@dark-neon-blue: #113E43;
@very-dark-neon-blue: #061a1a;

@neon-blue: #47BAB3;

@dark-gray: #282a2e;
@very-dark-gray: black;

@cyan: #8abeb7;
@blue: #81a2be;
@purple: #b294bb;
@green: #b5bd68;
@red: #4F0015;
@orange: #E2A622;
@light-orange: #E3A725;
