@import "colors";

// This defines all syntax variables that syntax themes must implement when they
// include a syntax-variables.less file.

// General colors
@syntax-text-color: @light-neon-blue;
@syntax-cursor-color: @neon-blue;
@syntax-selection-color: lighten(@dark-neon-blue, 10%);
@syntax-background-color: @very-dark-neon-blue;
@syntax-comment-color: lighten(@red, 20%);
@syntax-string-color: lighten(@red, 25%);
@syntax-highlighted-color: lighten(@dark-neon-blue, 20%);
@syntax-keyword-color: @neon-blue;
@syntax-neutral-color: @light-gray;

// Guide colors
@syntax-wrap-guide-color: @dark-gray;
@syntax-indent-guide-color: @gray;
@syntax-invisible-character-color: @gray;

// For find and replace markers
@syntax-result-marker-color: @light-gray;
@syntax-result-marker-color-selected: white;

// Gutter colors
@syntax-gutter-text-color: @light-neon-blue;
@syntax-gutter-text-color-selected: @syntax-gutter-text-color;
@syntax-gutter-background-color: @dark-neon-blue;
@syntax-gutter-background-color-selected: @neon-blue;

// For git diff info. i.e. in the gutter
@syntax-color-renamed: @blue;
@syntax-color-added: @green;
@syntax-color-modified: @orange;
@syntax-color-removed: @red;
